$color-primary: #4B8A6E; // Główna zieleń 
$color-secondary: #4E342E; // Ciemny brąz
$color-accent: #F29CA3; // Róż
$color-background: #EDE0D4; // Jasne tło
$color-border: #CCCCCC; // Obramowania, linie
$color-white: #FFFFFF; // Biały