/* ================== CZCIONKI ================== */

/* ==== NUNITO ==== */
@font-face {
  font-family: "Nunito";
  src: url("../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../public/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* ==== MERRIWEATHER ==== */
@font-face {
  font-family: "Merriweather";
  src: url("../../public/fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../public/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* ==== CAVEAT ==== */
@font-face {
  font-family: "Caveat";
  src: url("../../public/fonts/Caveat/Caveat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

// ========== IMPORTY ==========
@import "./variables";
@import "./forms";

@import "./components/header";
@import "./components/footer";
@import "./components/banner";
@import "./components/fundraiser_card";

@import "./components/ui/button";
@import "./components/ui/alert";
@import "./components/ui/progress_bar";
@import "./components/ui/loader";
@import "./components/ui/search_bar";
@import "./components/ui/filter_bar";
@import "./components/ui/modal";
@import "./components/ui/confirm_dialog";
@import "./components/ui/error_state";
@import "./components/ui/pagination";

@import "./pages/home_page";
@import "./pages/not_found_page";
@import "./pages/contact_page";
@import "./pages/request_support_page";
@import "./pages/login_page";
@import "./pages/about_page";
@import "./pages/active_projects_page";
@import "./pages/partnerships_page";

@import "./components/admin/admin_dashboard";
@import "./components/admin/admin_layout";
@import "./components/admin/admin_requests";
@import "./components/admin/request_card";
@import "./components/admin/admin_partnerships";
@import "./components/admin/admin_partner_modal";
@import "./components/admin/create_project_modal";
@import "./components/admin/request_details_view";
@import "./components/admin/admin_projects";
@import "./components/admin/project_card";
@import "./components/admin/admin_project_details";

@import "./components/admin/project/project_header";
@import "./components/admin/project/project_content_form";
@import "./components/admin/project/project_sidebar";
@import "./components/admin/project/project_media";
@import "./components/admin/project/project_news";
@import "./components/admin/project/create_news_modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

p,
a,
li {
  font-family: $font-body;
}
