.page-about {
	min-height: 60vh;
	.first-section {
		max-width: 1200px;
		display: flex;
		padding: 4rem 0;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-evenly;

		.left-side {
			width: 40%;
			color: $color-secondary;

			.left-title {
				margin-bottom: 2rem;
				text-align: center;
				font-size: 2rem;
			}
			p {
				margin: 1.5rem 0;
			}
		}

		.right-side {
			width: 40%;

			img {
				width: 100%;
				border-radius: 2rem;
			}
		}
	}
}
