.page-about {
	min-height: 60vh;
	// PIERWSZA SEKCJA
	.first-section {
		max-width: 1200px;
		display: flex;
		padding-inline: clamp(1rem, 3vw, 2rem);
		padding-block: clamp(2rem, 3vw, 5rem);
		margin: 0 auto;
		flex-wrap: wrap;
		gap: 3rem;

		.left-side {
			width: 40%;
			color: $color-secondary;
			flex: 1;

			.left-title {
				margin-bottom: 2rem;
				text-align: center;
				font-size: 2rem;
			}
			p {
				margin: 1.5rem 0;
			}
		}

		.right-side {
			flex: 1;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 350px;
			border-radius: 1rem;
			transform: rotate(3deg);
			box-shadow: $shadow-bg;
			transition: transform 0.3s ease;
			&:hover {
				transform: rotate(0deg);
			}
		}
	}
	// DRUGA SEKCJA
	.second-section {
		background-color: #ddd;
		text-align: center;
		padding-inline: clamp(1rem, 3vw, 2rem);
		padding-block: clamp(2rem, 3vw, 5rem);

		.right-side {
			max-width: 1200px;
			display: flex;

			margin: 2rem auto;
			flex-wrap: wrap;
			gap: 3rem;
			flex-direction: row-reverse;
			color: $color-secondary;

			.text-container {
				width: 50%;
			}

			.right-title {
				margin-bottom: 2rem;
				text-align: center;
				font-size: 2rem;
			}
			p {
				margin: 1.5rem 0;
				text-align: left;
			}
		}
		.left-img {
			flex: 1;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 40%;
			height: 350px;
			border-radius: 1rem;
			transform: rotate(-3deg);
			box-shadow: $shadow-bg;
			transition: transform 0.3s ease;
			&:hover {
				transform: rotate(0deg);
			}
		}

		.success-stories {
			margin-top: 2.5rem;
		}
	}
	// TRZECIA SEKCJA
	.third-section {
		.tile-title {
			margin-bottom: 1rem;
			margin-top: clamp(3rem, 4vw, 5rem);

			text-align: center;
			font-size: 2rem;
			color: $color-secondary;
		}
		.titles {
			display: flex;
			max-width: 1200px;
			padding-inline: clamp(1rem, 3vw, 2rem);
			padding-block: 2rem;
			margin: 0 auto;

			flex-wrap: wrap;
			gap: 3rem;
		}
		.tile {
			flex: 1;
			background-size: cover;
			background-repeat: no-repeat;
			min-width: 350px;
			width: 20%;
			height: 300px;
			border-radius: 1rem;
			position: relative;
			display: block;

			background-position: center;
			overflow: hidden;
			text-decoration: none;
			box-shadow: $shadow-bg;
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.05);
			}

			& .text {
				position: absolute;
				inset: 0;

				display: flex;
				align-items: center;
				justify-content: center;

				font-size: 36px;
				// font-weight: 700;
				color: #fff;
				text-align: center;

				background: rgba(0, 0, 0, 0.35);
				transition: background 0.3s ease;
			}

			&:hover & .text {
				background: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

@media (max-width: 992px) {
	.page-about {
		.first-section {
			flex-direction: column;
			gap: 2rem;
			text-align: center;
			align-items: center;
			.left-side {
				flex: auto;
				width: 80%;
			}

			.right-side {
				width: 100%;
				max-width: 500px;
				flex: auto;
				height: 300px;
				transform: none;
			}
		}
		.second-section {
			.right-side {
				flex: auto;
				flex-direction: column;
				gap: 2rem;
				text-align: center;
				align-items: center;

				.text-container {
					width: 80%;
				}

				p {
					text-align: center;
				}
			}

			.left-img {
				width: 100%;
				max-width: 500px;
				flex: auto;
				height: 300px;
				transform: none;
			}
		}
	}
}

@media (max-width: 767px) {
	.page-about {
		.first-section {
			.left-side {
				width: 100%;
			}
		}
		.second-section {
			.right-side {
				.text-container {
					width: 100%;
				}
			}
		}
	}
}
