.last-payment-page {
	min-height: 80vh;
	background-color: $color-background;
	padding: clamp(1rem, 5vw, 3rem);
	align-content: center;
	.payment-container {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
		svg {
			width: 170px;
			height: auto;
			margin-bottom: 1.5rem;
		}
		.failure-icon {
			color: $color-error;
		}
		.success-icon {
			color: $color-primary;
		}
		.cancel-icon {
			color: rgb(190, 186, 59);
		}

		h1 {
			font-size: 2.5rem;
			text-align: center;
		}
		p {
			margin: 1rem 0;
			text-align: center;
		}
		.buttons-container {
			display: flex;
			gap: 3rem;
		}
	}
}
@media (max-width: 767px) {
	.last-payment-page {
		.payment-container {
			.buttons-container {
				flex-direction: column;
				gap: 1rem;
			}
		}
	}
}
