.last-payment-page {
  min-height: 80vh;
  background-color: $color-background;
  padding: clamp(1rem, 5vw, 3rem);
  align-content: center;
  .payment-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    svg {
      width: 170px;
      height: auto;
      margin-bottom: 1.5rem;
    }
    .failure-icon {
      color: $color-error;
    }
    .success-icon {
      color: $color-primary;
    }
    .cancel-icon {
      color: rgb(190, 186, 59);
    }

    h1 {
      font-size: clamp(1.6rem, 4vw, 2.6rem);
      text-align: center;
    }
    p {
      margin: 1rem 0;
      text-align: center;
      font-size: clamp(0.95rem, 2.5vw, 1.2rem);
    }
    .buttons-container {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
  }

  &.success {
    .last-payment-title {
      color: $color-primary;
    }
  }

  &.failure {
    .last-payment-title {
      color: $color-error;
    }
  }

  &.cancel {
    .last-payment-title {
      color: rgb(190, 186, 59);
    }
  }
}
@media (max-width: 767px) {
  .last-payment-page {
    .payment-container {
      .buttons-container {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
