.progress {
  position: relative;
  width: 100%;
  margin-block: 0.5rem 0.9rem; // trochę miejsca pod paskiem na % label

  &__track {
    width: 100%;
    height: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
  }

  &__fill {
    height: 100%;
    background-color: $color-accent;
    border-radius: 1rem;
    transition: width 0.4s ease-out;
  }

  &__label {
    position: absolute;
    top: 100%; // pod paskiem
    transform: translate(-50%, 0.2rem); // wyśrodkowanie względem końca paska
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    color: $brown-700;
    margin: 5px 0;
  }
}
