.progress {
  position: relative;
  width: 100%;
  margin-block: 0.5rem 0.9rem;

  &__track {
    position: relative;
    width: 100%;
    height: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
  }

  &__fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $color-accent;
    border-radius: 1rem;
    transition: width 0.4s ease-out;
    z-index: 1;
  }

  &__overflow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $accent-darken; // jaśniejszy
    border-radius: 1rem;
    transition: width 0.4s ease-out;
    z-index: 2;
  }

  &__label {
    position: absolute;
    top: 100%;
    transform: translate(-50%, 0.2rem);
    font-size: 0.8rem;
    white-space: nowrap;
    color: $brown-700;

    &[data-over="true"] {
      color: $accent-darken;
      font-weight: 600;
    }
  }
}
